{
  "openapi": "3.0.0",
  "info": {
    "title": "TW Open IG Registry API Documentation",
    "description": "這是 TW Open IG Registry 的 API 文件，若有任何問題請聯絡 Lorex。",
    "contact": {
      "name": "",
      "url": "",
      "email": ""
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "termsOfService": "http://example.com/terms"
  },
  "servers": [
    {
      "url": "https://api.registry.fhir.tw/"
    },
    {
      "url": "http://localhost:1337/"
    }
  ],
  "externalDocs": {
    "url": ""
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "guides": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/guides-without-required-constraint"
          },
          {
            "required": [
              "name",
              "uploader"
            ]
          }
        ]
      },
      "guides-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Guides**",
        "properties": {
          "createdAt": {
            "type": "number",
            "format": "double",
            "description": "資料建立時間"
          },
          "updatedAt": {
            "type": "number",
            "format": "double",
            "description": "資料更新時間"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "唯一識別碼\n\nNote Sails special attributes: autoIncrement",
            "uniqueItems": true
          },
          "name": {
            "type": "string",
            "description": "IG 名稱"
          },
          "uploader": {
            "description": "上傳者 ID JSON dictionary representing the **users** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/users"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "IG 描述"
          },
          "package_id": {
            "type": "string",
            "description": "NPM 套件名稱"
          },
          "authority": {
            "type": "string",
            "description": "IG 發布單位"
          },
          "country": {
            "type": "string",
            "description": "IG 適用國家"
          },
          "language": {
            "type": "string",
            "description": "IG 使用語言"
          },
          "category": {
            "description": "IG 分類 JSON dictionary representing the **guidescategory** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/guidescategory"
              }
            ]
          },
          "tags": {
            "description": "IG 標籤（字串陣列）"
          },
          "editions": {
            "description": "IG 版本清單 Array of **guideseditions**'s or array of FK's when creating / updating / not populated",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/guideseditions"
            }
          }
        }
      },
      "guidescategory": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/guidescategory-without-required-constraint"
          },
          {
            "required": [
              "name"
            ]
          }
        ]
      },
      "guidescategory-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **GuidesCategory**",
        "properties": {
          "createdAt": {
            "type": "number",
            "format": "double",
            "description": "資料建立時間"
          },
          "updatedAt": {
            "type": "number",
            "format": "double",
            "description": "資料更新時間"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "唯一識別碼\n\nNote Sails special attributes: autoIncrement",
            "uniqueItems": true
          },
          "name": {
            "type": "string",
            "description": "分類名稱"
          }
        }
      },
      "guideseditions": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/guideseditions-without-required-constraint"
          },
          {
            "required": [
              "guide",
              "ig_version",
              "fhir_version",
              "url"
            ]
          }
        ]
      },
      "guideseditions-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **GuidesEditions**",
        "properties": {
          "createdAt": {
            "type": "number",
            "format": "double",
            "description": "資料建立時間"
          },
          "updatedAt": {
            "type": "number",
            "format": "double",
            "description": "資料更新時間"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "唯一識別碼\n\nNote Sails special attributes: autoIncrement",
            "uniqueItems": true
          },
          "guide": {
            "description": "關聯 IG 的 ID JSON dictionary representing the **guides** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/guides"
              }
            ]
          },
          "ig_version": {
            "type": "string",
            "description": "IG 版本"
          },
          "fhir_version": {
            "type": "string",
            "description": "使用的 FHIR 版本"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "IG 網址"
          },
          "status": {
            "type": "string",
            "default": "draft",
            "description": "IG 有效狀態：draft 草稿（預設）, active 正式, retired 停用, unknown 未知",
            "enum": [
              "draft",
              "active",
              "retired",
              "unknown"
            ],
            "example": "draft"
          },
          "experimental": {
            "type": "boolean",
            "default": false,
            "description": "是否為實驗性 IG（預設為 false）"
          }
        }
      },
      "users": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/users-without-required-constraint"
          },
          {
            "required": [
              "username",
              "password",
              "email"
            ]
          }
        ]
      },
      "users-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Users**",
        "properties": {
          "createdAt": {
            "type": "number",
            "format": "double",
            "description": "資料建立時間"
          },
          "updatedAt": {
            "type": "number",
            "format": "double",
            "description": "資料更新時間"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "唯一識別碼\n\nNote Sails special attributes: autoIncrement",
            "uniqueItems": true
          },
          "username": {
            "type": "string",
            "description": "帳號",
            "maxLength": 50,
            "uniqueItems": true
          },
          "password": {
            "type": "string",
            "description": "密碼"
          },
          "role": {
            "type": "number",
            "format": "double",
            "default": 1000,
            "description": "角色權限：0 管理員, 1 審核員, 999 一般使用者, 1000 等待審核中",
            "enum": [
              0,
              1,
              999,
              1000
            ],
            "example": 1000
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "電子郵件",
            "maxLength": 200,
            "uniqueItems": true
          },
          "firstname": {
            "type": "string",
            "description": "名字",
            "maxLength": 50
          },
          "lastname": {
            "type": "string",
            "description": "姓氏",
            "maxLength": 50
          },
          "active": {
            "type": "boolean",
            "default": false,
            "description": "帳號是否啟用"
          }
        }
      },
      "userssessions": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/userssessions-without-required-constraint"
          },
          {
            "required": [
              "token"
            ]
          }
        ]
      },
      "userssessions-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **UsersSessions**",
        "properties": {
          "createdAt": {
            "type": "number",
            "format": "double",
            "description": "資料建立時間"
          },
          "updatedAt": {
            "type": "number",
            "format": "double",
            "description": "資料更新時間"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "唯一識別碼\n\nNote Sails special attributes: autoIncrement",
            "uniqueItems": true
          },
          "user": {
            "description": "關聯使用者 ID JSON dictionary representing the **users** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/users"
              }
            ]
          },
          "token": {
            "type": "string",
            "description": "登入 Token",
            "uniqueItems": true
          },
          "expiresAt": {
            "type": "number",
            "format": "double",
            "description": "Token 有效期限，為 JS Timestamp 格式"
          }
        }
      }
    },
    "parameters": {
      "AttributeFilterParam": {
        "in": "query",
        "name": "_*_",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "To filter results based on a particular attribute, specify a query parameter with the same name as the attribute defined on your model. For instance, if our `Purchase` model has an `amount` attribute, we could send `GET /purchase?amount=99.99` to return a list of $99.99 purchases."
      },
      "WhereQueryParam": {
        "in": "query",
        "name": "where",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Instead of filtering based on a specific attribute, you may instead choose to provide a `where` parameter with the WHERE piece of a [Waterline criteria](https://sailsjs.com/documentation/concepts/models-and-orm/query-language), _encoded as a JSON string_. This allows you to take advantage of `contains`, `startsWith`, and other sub-attribute criteria modifiers for more powerful `find()` queries.\n\ne.g. `?where={\"name\":{\"contains\":\"theodore\"}}`"
      },
      "LimitQueryParam": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "The maximum number of records to send back (useful for pagination). Defaults to 30."
      },
      "SkipQueryParam": {
        "in": "query",
        "name": "skip",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "The number of records to skip (useful for pagination)."
      },
      "SortQueryParam": {
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "The sort order. By default, returned records are sorted by primary key value in ascending order.\n\ne.g. `?sort=lastName%20ASC`"
      }
    }
  },
  "tags": [
    {
      "name": "User",
      "description": "使用者相關 API"
    },
    {
      "name": "Guide",
      "description": "IG 相關 API"
    },
    {
      "name": "GuideEdition",
      "description": "IG 版本相關 API"
    },
    {
      "name": "Category"
    },
    {
      "name": "Index"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/ig": {
      "post": {
        "summary": "Guide",
        "description": "【使用者功能】新增一筆 IG 資料，並建立第一個版本發布資料",
        "tags": [
          "Guide"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IG 名稱"
          },
          {
            "in": "query",
            "name": "description",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 描述"
          },
          {
            "in": "query",
            "name": "package_id",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "NPM 套件名稱"
          },
          {
            "in": "query",
            "name": "authority",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 發布單位"
          },
          {
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string",
              "default": "TW",
              "example": "TW"
            },
            "description": "IG 適用國家"
          },
          {
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "zh-TW",
              "example": "zh-TW"
            },
            "description": "IG 使用語言"
          },
          {
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1,
              "example": 1
            },
            "description": "IG 分類"
          },
          {
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {},
              "default": [],
              "example": []
            },
            "description": "IG 標籤（字串陣列）"
          },
          {
            "in": "query",
            "name": "ig_version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IG 版本"
          },
          {
            "in": "query",
            "name": "fhir_version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "使用的 FHIR 版本"
          },
          {
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "IG 網址"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "draft",
              "enum": [
                "draft",
                "active",
                "retired",
                "unknown"
              ],
              "example": "draft"
            },
            "description": "IG 有效狀態：draft 草稿（預設）, active 正式, retired 停用, unknown 未知"
          },
          {
            "in": "query",
            "name": "experimental",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "是否為實驗性 IG（預設為 false）"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "get": {
        "summary": "Guide",
        "description": "【無權限要求】取得 IG 資料列表",
        "tags": [
          "Guide"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 名稱"
          },
          {
            "in": "query",
            "name": "authority",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 發布單位"
          },
          {
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 適用國家"
          },
          {
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 使用語言"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1,
              "example": 1
            },
            "description": "頁數"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 10,
              "example": 10
            },
            "description": "每頁筆數"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/category": {
      "post": {
        "summary": "Category",
        "description": "【管理員功能】新增 IG 類別",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "類別名稱"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "summary": "User",
        "description": "使用者註冊",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "使用者名稱"
          },
          {
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "密碼"
          },
          {
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "電子郵件"
          },
          {
            "in": "query",
            "name": "firstname",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "名字"
          },
          {
            "in": "query",
            "name": "lastname",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "姓氏"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "User",
        "description": "使用者登入",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "username",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "使用者名稱"
          },
          {
            "in": "query",
            "name": "password",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "密碼"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "summary": "User",
        "description": "取得目前登入的使用者資料",
        "tags": [
          "User"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "put": {
        "summary": "User",
        "description": "【使用者功能】更新自己的使用者資料",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "password",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "密碼"
          },
          {
            "in": "query",
            "name": "confirmPassword",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "確認密碼"
          },
          {
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "電子郵件"
          },
          {
            "in": "query",
            "name": "firstname",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "名字"
          },
          {
            "in": "query",
            "name": "lastname",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "姓氏"
          },
          {
            "in": "query",
            "name": "role",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "角色"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "summary": "User",
        "description": "使用者登出",
        "tags": [
          "User"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/user/{uid}": {
      "get": {
        "summary": "User",
        "description": "【管理員功能】取得使用者資料",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "使用者 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "put": {
        "summary": "User",
        "description": "【管理員功能】更新使用者資料",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "使用者 ID"
          },
          {
            "in": "query",
            "name": "password",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "密碼"
          },
          {
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "電子郵件"
          },
          {
            "in": "query",
            "name": "firstname",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "名字"
          },
          {
            "in": "query",
            "name": "lastname",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "姓氏"
          },
          {
            "in": "query",
            "name": "role",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "角色"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/ig/{id}": {
      "get": {
        "summary": "Guide",
        "description": "【無權限要求】取得指定一筆 IG 資料",
        "tags": [
          "Guide"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "put": {
        "summary": "Guide",
        "description": "【使用者功能】更新 IG 資料，只能更新自己上傳的 IG 資料，管理員則無限制",
        "tags": [
          "Guide"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "id"
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 名稱"
          },
          {
            "in": "query",
            "name": "description",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 描述"
          },
          {
            "in": "query",
            "name": "package_id",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "NPM 套件名稱"
          },
          {
            "in": "query",
            "name": "authority",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 發布單位"
          },
          {
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 適用國家"
          },
          {
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "IG 使用語言"
          },
          {
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": -1,
              "example": -1
            },
            "description": "IG 分類"
          },
          {
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {},
              "default": null
            },
            "description": "IG 標籤（字串陣列）"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1,
              "example": 1
            },
            "description": "頁數"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 10,
              "example": 10
            },
            "description": "每頁筆數"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "delete": {
        "summary": "Guide",
        "description": "【使用者功能】刪除一筆 IG 資料，並刪除這個 IG 底下所有版本發布資料，只能刪除自己上傳的 IG 資料，管理員則無限制",
        "tags": [
          "Guide"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/ig/{guide}/edition": {
      "get": {
        "summary": "GuideEdition",
        "description": "【無權限要求】取得特定 IG 底下的所有版本發布資料",
        "tags": [
          "GuideEdition"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "guide",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "post": {
        "summary": "GuideEdition",
        "description": "【使用者功能】新增 IG 底下的版本發布",
        "tags": [
          "GuideEdition"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "guide",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG ID"
          },
          {
            "in": "query",
            "name": "ig_version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IG 版本"
          },
          {
            "in": "query",
            "name": "fhir_version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "FHIR 版本"
          },
          {
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IG 網址"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "draft",
              "enum": [
                "draft",
                "active",
                "retired",
                "unknown"
              ],
              "example": "draft"
            },
            "description": "IG 狀態"
          },
          {
            "in": "query",
            "name": "experimental",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "是否為實驗性 IG"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/ig/{guide}/edition/{edition_id}": {
      "get": {
        "summary": "GuideEdition",
        "description": "【無權限要求】取得特定 IG 底下的單一筆版本發布資料",
        "tags": [
          "GuideEdition"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "guide",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG ID"
          },
          {
            "in": "path",
            "name": "edition_id",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG 版本 ID (資料中的 ID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "put": {
        "summary": "GuideEdition",
        "description": "【使用者功能】更新特定 IG 底下的版本發布資料，只能更新自己上傳的資料，管理員則無限制",
        "tags": [
          "GuideEdition"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "guide",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG ID"
          },
          {
            "in": "path",
            "name": "edition_id",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Edition ID"
          },
          {
            "in": "query",
            "name": "ig_version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-1",
              "example": "-1"
            },
            "description": "IG 版本"
          },
          {
            "in": "query",
            "name": "fhir_version",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-1",
              "example": "-1"
            },
            "description": "FHIR 版本"
          },
          {
            "in": "query",
            "name": "url",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-1",
              "example": "-1"
            },
            "description": "IG 網址"
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "default": "nochange",
              "enum": [
                "draft",
                "active",
                "retired",
                "unknown",
                "nochange"
              ],
              "example": "nochange"
            },
            "description": "IG 狀態"
          },
          {
            "in": "query",
            "name": "experimental",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "是否為實驗性 IG"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "delete": {
        "summary": "GuideEdition",
        "description": "【使用者功能】移除特定 IG 底下的版本發布，只能移除自己發布的 IG，若為管理員則無限制。",
        "tags": [
          "GuideEdition"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "guide",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG ID"
          },
          {
            "in": "path",
            "name": "edition_id",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "IG 版本 ID (資料中的 ID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Index",
        "description": "首頁",
        "tags": [
          "Index"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "put": {
        "summary": "Index",
        "description": "首頁",
        "tags": [
          "Index"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "post": {
        "summary": "Index",
        "description": "首頁",
        "tags": [
          "Index"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "delete": {
        "summary": "Index",
        "description": "首頁",
        "tags": [
          "Index"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      },
      "patch": {
        "summary": "Index",
        "description": "首頁",
        "tags": [
          "Index"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "Success"
                    },
                    {
                      "type": "string",
                      "description": "Success"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "資料檢核失敗"
          },
          "404": {
            "description": "找不到資源"
          },
          "500": {
            "description": "我掛了，請聯絡 Lorex"
          }
        }
      }
    }
  }
}